@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --blue: #08415c;
  --light-blue: #4c6085;
  --dark-blue: #252f41;
  --brown: #563730;
  --dark-brown: #34221d;
  --light-brown: #885e59;
  --light-cream: #fef8ec;
  --cream: #fdf0d5;
  --creamAlt: #fcf8d4;
  --green: #7b904b;
  --light-green: #afc185;
  --dark-green: #455129;
  --yellow: #fff07c;
  --dark-yellow: #e0c600;
  --light-yellow: #fff399;
  --red: #720e07;
  --dark-red: #4d0a05;
  --light-red: #a21622;
}

body {
  background-color: var(--light-blue);
  color: #CCCCCC;
}

/* ------------------Navbar------------------ */
.navContainer{
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#mainNav {
  background-color: #7b904b !important;
  position: sticky;
}
.logoMain {
  max-height: 75px;
  padding-left: 50px;
}

.mainLoginBtn{
  background-color: var(--dark-brown);
  color: var(--creamAlt);
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
  
}
.mainLoginBtn:hover{
  background-color: var(--light-yellow);
  color: var(--dark-brown);
}

/* --------------Login and Reg------------- */

.centerBtn{
  text-align: center;
}
.regButton{
  border-radius: 10px;
  border: none;
  padding: 7px 10px 10px;
  font-size: 20px;
  background-color: var(--light-yellow);
  color: var(--dark-brown);
  width: 100%;
  
}

.regButton:hover{
  background-color: var(--brown);
  color: var(--light-cream);
}

.errMessages{
  color: var(--red);
  font-weight: bold;
}





/* -------------Index Layout--------------- */

#card1,
#card2,
#card3 {
  background-color: var(--dark-brown) !important;
  color: var(--creamAlt);
  transition: 200ms;
  
}

#card1:hover, #card2:hover, #card3:hover{
  transform: translateY(5px)
}

.card-title{
  font-size: 1rem !important;
  font-weight: 1.5rem !important;
  
}

h3 {
  font-weight: bolder !important;
  font-size: 2rem !important;
}

.secondTitle {
  font-weight: bolder ;
  font-size: 1.7rem;
}

.mainLink{
  text-decoration: none !important;
}

/* -------------Garden Journal-------------- */
.journalButton{
  color: var(--dark-brown);
  font-weight: bolder;
  font-size: 1.25rem;
  background-color: var(--light-yellow); 
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  max-width: 500px ;
  margin: 0 auto;
}
.journalButton:hover{
  background-color: #6b713b;
}

.header{
  text-align: center;
  padding: 7px;
  margin-top: 2%;
}

.headerText{

}