<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="mainContainer">
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow" id="mainNav">
            <div class="mainContainer">
                <a class='navbar-brand' href="/"><img src="{% static 'img/logo-no-background.png'%}" alt="logo"
                        class="logoMain"></a>
            </div>
        </nav>
        <div class="w-75 mx-auto">
            <form action="">
                <div class="form-floating">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="title" placeholder="Title">
                            <label for="title">Title</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="title" placeholder="Title">
                            <label for="title">Title</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>